@using EPizzaHub.UI.Models.ApiResponses
@model GetCartResponseModel

@{
    ViewData["Title"] = "Cart Details";
}

<div>
    @if (Model != null && Model.Items != null)
    {
        <div class="row">
            <div class="col-sm-8">
                <div class=" card">
                    <div class="card-header">
                        <h3>Cart Items =  (@Model.Items.Count())</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Details</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.ImageUrl" style="width:50px; height:50px" />
                                            <div>@item.ItemName</div>
                                        </td>
                                        <td>@item.UnitPrice</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.ItemTotal</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Cart Summary</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <td>Total</td>
                                <td>@Model.Total</td>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <td>@Model.Tax</td>
                            </tr>
                            <tr>
                                <td>Grand Total (Inclusive of Taxes)</td>
                                <td>@Model.GrandTotal</td>
                            </tr>
                        </table>
                        @if (CurrentUser == null)
                        {
                            <a asp-action="Login" asp-controller="Login" class="btn btn-success">Checkout</a>
                        }
                        else
                        {
                            <a asp-action="Checkout" asp-controller="Cart" class="btn btn-success">Checkout</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <h4>No Items were added in the Cart,please add some items</h4>
        </div>

    }
</div>